/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos del Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4D194D;
    padding: 15px 20px;
    color: white;
    font-family:"Montserrat", sans-serif;
}

/* Logo */
.logo img{
    width: 40px;
    height: auto;
    margin-right: 50px;
}

/* Menú de navegación */
nav{
    display: flex;
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: center; /* Asegura que los elementos estén centrados verticalmente */
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    
}

nav ul li a:hover {
    font-weight: bold;
}

/* Barra de búsqueda */
.search-box {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.search-box input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Iconos */
.icons {
    display: flex;
    align-items: center;
}

.icons a {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}

.icons a:hover {
    color: #B44CB4;
}