/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important ;
}

.border-custom {
    border: 1px solid #4D194D; /* Color morado personalizado */
}

form, .form-label, .form-control{
    font-size: 12px !important;
}

button.btn {
    font-size: 12px;
    background-color: #4D194D;
    border: 2px solid #4D194D;
    color: #ffffff;
}

button.btn:hover {
    background-color: #B44CB4;
    border: 2px solid #B44CB4;
    color: #ffffff;
}

.forgot-password a{
    font-size: 12px;
    color:#4D194D;
    text-decoration: none;
}

.forgot-password a:hover{
    font-size: 12px;
    color:#B44CB4;
    text-decoration: none;
}

.register-link {
    font-size: 12px;
    color:#4D194D;
    text-decoration: none;
}

.register-link:hover {
    font-size: 12px;
    color:#B44CB4;
    text-decoration: none;
}

div p{
    font-size: 12px !important;
}





