body {
    background-color: white;
    font-family: "Inter";
}

/* Contenedor del registro */
.container {
    max-width: 900px;
    margin-top: 100px;
    background: white;
    display: flex;
    padding: 0;
}

/* Formulario de registro */
.form-container {
    padding: 60px;
    flex: 1;
}

/* Imagen concierto */
.image-container {
    flex: 1;
    background: url('../img/concierto-registro.jpg') center/cover;
    display: flex;
    justify-content: center;
    
}

/* Texto de la imagen */
.text-image {
    color: white;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
    font-family: "Montserrat";
    letter-spacing: 8%;
}

/* Botón crear cuenta */
.btn-primary {
    background-color: #4d194d;
    border: none;
}
.btn-primary:hover {
    background-color: #4d194d;
    transform: scale(1.05);
}

/* Icono usuario */ 
#register-name {
    background-image: url('../img/user-icon.svg'); 
}

/* Icono email */ 
#register-email {
    background-image: url('../img/email-icon.svg'); 
}

/* Icono contraseña */ 
#register-password {
    background-image: url('../img/password-icon.svg');
}

/* Estilo iconos */ 
.icons {
    padding-left: 40px; /* Ajusta el espacio para el icono */
    background-repeat: no-repeat;
    background-position: 8px center; /* Ajusta la posición del icono */
    background-size: 20px; /* Ajusta el tamaño del icono */
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
}