body {
    background-color: white;
    font-family: "Inter";
}

/* Botón crear cuenta */
.btn-primary:hover {
    transform: scale(1.05);
}

/* Icono usuario */ 
#register-name {
    background-image: url('../img/user-icon.svg'); 
}

/* Icono email */ 
#register-email {
    background-image: url('../img/email-icon.svg'); 
}

/* Icono contraseña */ 
#register-password {
    background-image: url('../img/password-icon.svg');
}

/* Estilo iconos */ 
.icons {
    padding-left: 40px; /* Ajusta el espacio para el icono */
    background-repeat: no-repeat;
    background-position: 8px center; /* Ajusta la posición del icono */
    background-size: 20px; /* Ajusta el tamaño del icono */
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
}