
/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/*botones filtros*/
#location,
#style,
button {

    background-color: #4D194D;
    color: white;
    width: 80px;
    height: 48px;
    border-radius: 12px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

#location,
#style,
button {
    transition: transform 0.3s ease-in-out;
}



#location:hover,
#style:hover,
button:hover {
    transform: scale(1.05);
    background-color: #6f42c1;
}

#aceptar-filtros {
    background-color: #6f42c1;
    width: 130px;
}



/*Sección de eventos populares */

.event-card {
    background-color: white;
    border-left: 5px solid white;
    transition: transform 0.3s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card .col-3 {
    font-size: 0.9rem;
}

.event-card button {
    font-size: 0.9rem;
}

.event-card button:hover {
    background-color: #5a3791;
}

.event-card .col-3 {
    display: flex;
    flex-direction: column;
    height: 100%;

}

/*colores custom*/

.custom-bg-primary {
    background-color: #4D194D;
}

.custom-text-primary {
    color: #4D194D;
}

.custom-bs-dark {
    background-color: #B44CB4;
}

.custom-bs-info {
    background-color: #F5A6F5;

}

/*Catalogo*/

.card {
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

.card-body h6 {
    color: #6f42c1;
    font-size: 1rem;
}

.card-body p {
    font-size: 0.9rem;
}

.card-body button {
    background-color: #6f42c1;
    border: none;
}

.card-body button:hover {
    background-color: #5a3791;
}

.btn-primary {
    border: none;
}


#container-img-btn > .container-btn-fav{
    position: relative;
}

.btn-fav{
    position: absolute;
    bottom: 0;

    background-color: transparent;
    border-radius: 50%;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.btn-fav:hover{
    color:#6f42c1;
    transform: scale(1.70);
}

@media (max-width: 767.98px) {
    .row.ms-5.flex-nowrap.overflow-auto.d-flex.flex-nowrap {
      flex-direction: column;
    }
  }

  @media (max-width: 767.98px) {
    .row.flex-nowrap.align-items-center {
      justify-content: center;
    }
  }

  .img-fluid .rounded .shadow img{
    size: 315px;
  }