
/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/*botones filtros*/
.c-e-location,
.c-e-style,
.c-e-btn{

    background-color: #4D194D;
    color: white;
    width: 80px;
    height: 48px;
    border-radius: 12px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.c-e-location,
.c-e-style,
.c-e-btn {
    transition: transform 0.3s ease-in-out;
}



.c-e-location:hover,
.c-e-style:hover,
.c-e-btn:hover {
    transform: scale(1.05);
    background-color: #6f42c1;
}

.c-e-btn-aceptar-filtros {
    background-color: #6f42c1;
    width: 130px;
    color: white;
    height: 48px;
    border-radius: 12px;
    text-align: center;
}



/*Sección de eventos populares */

.c-e-event-card {
    background-color: white;
    border-left: 5px solid white;
    transition: transform 0.3s ease-in-out;
}

.c-e-event-card:hover {
    transform: scale(1.05);
}

.c-e-event-card .col-3 {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.c-e-event-card .c-e-btn-event-card {
    font-size: 0.9rem;
}

.c-e-event-card .c-e-btn-event-card:hover {
    background-color: #5a3791;
}


/*colores custom*/

.c-e-custom-bg-primary {
    background-color: #4D194D;
}

.c-e-custom-text-primary {
    color: #4D194D;
}

.c-e-custom-bs-dark {
    background-color: #B44CB4;
}

.c-e-custom-bs-info {
    background-color: #F5A6F5;

}

.c-e-btn-event-card{
    border: none;
}

/*Catalogo*/

.c-e-card {
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.c-e-card:hover {
    transform: scale(1.05);
}

.c-e-card-body h6 {
    color: #6f42c1;
    font-size: 1rem;
}

.c-e-card-body p {
    font-size: 0.9rem;
}

.c-e-card-body .c-e-btn-card {
    background-color: #6f42c1;
    border: none;
}

.c-e-card-body .c-e-btn-card:hover {
    background-color: #5a3791;
}

.c-e-btn-card {
    border: none;
}

.c-e-btn-card a{
    text-decoration: none;
    color: white;
}


.c-e-container-img-btn > .c-e-container-btn-fav{
    position: relative;
}

.c-e-btn-fav{
    position: absolute;
    bottom: 0;

    background-color: transparent;
    border-radius: 50%;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.c-e-btn-fav:hover{
    color:#6f42c1;
    transform: scale(1.70);
}

@media (max-width: 767.98px) {
    .row.ms-5.flex-nowrap.overflow-auto.d-flex.flex-nowrap {
      flex-direction: column;
    }
  }

  @media (max-width: 767.98px) {
    .row.flex-nowrap.align-items-center {
      justify-content: center;
    }
  }

  .img-fluid .rounded .shadow img{
    size: 315px;
  }

  .c-e-input-date{
    max-width: 100px;
    max-height: 50px;
    display: flex;
  }

  .c-e-form-filters > * {
    margin-right: 10px;
  }

  .c-e-range-price{
    max-width: 85px;
  }

  .c-e-img-catalog{
    aspect-ratio: 1/1;
  }